-
  const formatDate = (dateString) => {
    const date = new Date(dateString);
    const year = date.getFullYear();
    const month = date.getMonth();
    const day = date.getDay();
    return `${year}-${month}-${day}`;
  }

mixin errorMessages(errors)
  if errors
    each error of errors
      .server-error= error

mixin pagination(page, totalPages, width, resource)
  if totalPages > 1
    -
      let start = page - width;
      let end = page + width;

      if (start < 1) {
        end += 1 - start;
        start = 1;
      }

      if (end > totalPages) {
        start -= end - totalPages;
        end = totalPages;
      }

      if (start < 1) {
        start = 1;
      }

      let i = start - 1;

    div(class='preview__toggle-wrapper')
          ul(class='preview__pagination pagination')
            if page > 1
              li
                a(class='pagination__button button button--backwards' href=`${resource}?page=${page - 1}` aria-label='Страница назад') Назад
            while i++ < end
              -
                const isCurrentPage = i === page;
              li(class=`pagination__item${isCurrentPage ? ` pagination__item--active` : ``}`)
                a(href= isCurrentPage ? null : `${resource}?page=${i}`)= i
            if page < totalPages
              li
                a(class='pagination__button button button--forward' href=`${resource}?page=${page + 1}` aria-label='Страница вперед') Вперед

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    meta(name='description' content='Личный блог Типотека')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Типотека
    link(rel='preload' href='/fonts/Inter-Regular.woff2' as='font' crossorigin='anonymous')
    link(rel='preload' href='/fonts/Inter-Medium.woff2' as='font' crossorigin='anonymous')
    link(rel='preload' href='/fonts/SFProDisplay-Regular.woff2' as='font' crossorigin='anonymous')
    link(rel='stylesheet' href='/css/style.min.css')
  body
    .wrapper
      include blocks/header.pug
      block content
      include blocks/footer.pug
    script(src='/js/vendor.js')
    script(src='/js/main.js')
