extends layout.pug

block content
  main
    section.post
      h1.visually-hidden Пост
      section(class='post__content')
        h2.visually-hidden Основное содержание
        div(class='post__wrapper')
          div(class='post__head')
            a(href='#' onclick='history.back();' class='post__backwards button button--backwards') Назад
            time(class='post__date' datetime='2019-03-21T20:33') #{formatDate(article.createdAt)}
            h2(class='post__title title title--main') #{article.title}
            ul(class='post__themes themes')
              each category of article.categories
                li(class='themes__item')
                  a(class='themes__item-link' href=`/articles/category/${category.id}`) #{category.name}
                  button(class='themes__remove-btn' type='button') Удалить категорию
          if article.photo
            div(class='post__picture')
              img(src=`/img/${article.photo.uniqueName}`)
          div(class='post__text')
            p #{article.announce}
            if article.fullText
              p #{article.fullText}
      div(class='post__wrapper post__wrapper--comments')
        section(class='post__comments comments')
          h2(class='comments__title title title--middle') #{`Комментарии${article.comments.length ? ``: ` отсутствуют`}`}
          if article.comments.length
            ul(class='comments__list')
              each comment of article.comments
                li(class='comments__comment')
                  div(class='comments__avatar avatar')
                    if comment.User.avatar
                      img(src=`/img/${comment.User.avatar}` alt='аватар пользователя' class='comments__user-avatar')
                  div(class='comments__text')
                    div(class='comments__head')
                      p #{comment.User.firstName} #{comment.User.lastName} •
                      time(class='comments__date' datetime=`${comment.createdAt}`) #{formatDate(comment.createdAt, true)}
                    p(class='comments__message') #{comment.text}
          if user
            div(class='comments__footer comments__footer--user')
              +errorMessages(validationMessages)
              form(action=`/articles/${article.id}/comments` method='POST' enctype="application/x-www-form-urlencoded")
                input(type="hidden" name="_csrf" value=csrf)
                div(class='comments__avatar avatar')
                  if user.avatar
                    img(src=`/img/${user.avatar}` alt='аватар пользователя' class='comments__user-avatar')
                label
                  textarea(rows='1' name='text' placeholder='Присоединиться к обсуждению')
                button(type='submit' class='comments__button button button--colored') Опубликовать
          else
            .comments__footer.comments__footer--visitor
              a(class='comments__button button button--colored' href='/login') Войти
              .comments__registration
                p.text.text--signature
                  b.title.title--small Регистрация
                  | Чтобы присоединиться к
                  |                   переписке
                  |                   нужно зарегистрироваться

